.likeGroupBox {
    border-style: solid;
    border-color: black;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 2rem;
    width: 75%;
    margin-left: 7rem;
    background-color: snow; 
}
.titleOfLikes {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.likePostImage {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    border: solid black;
}