.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: black;
    top: 0;
    margin: auto;
    width: 100%;
    position: fixed;
    padding: 1rem;
    margin-bottom: 2em;
    margin-left: -1rem;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navBarLink {
    color:aliceblue
}

